hr(style="margin-top: 50px;")
.footer(style="text-align: center;")
  p
    | Copyright ©&nbsp;
    script.
      var d = new Date();
      document.write(d.getFullYear());
    | &nbsp;GoDeep LLC., All Rights Reserved.&nbsp;

//- Load Scripts
script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
