<head>
    <meta charset="utf-8">
    <meta name="x-csrf-token" content={{_csrf}}>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport", content="width=device-width, initial-scale=1.0">
    <meta name="author", content="">
    <meta name="description", content="">
    <meta name="keywords", content="">

    <title>GoDeep</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/typeaheadjs.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="/assets/js/typeahead.bundle.js"></script>
    <link rel="icon" href="/assets/img/favicon.ico">
</head>