<nav role="navigation" class="navbar navbar-default navbar-fixed-top navbar-dark">
    <div class="container">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div id="logo" class="navbar-left">
                <a id="ember699" class="ember-view navbar-brand active" href="/">
                    <img alt="GoDeep Mobile" src="https://gd-app-assets.s3.amazonaws.com/assets/img/GD_logo_small-83f0e51b83da0aac68c185308dde94e2.png">
                </a>
            </div>
            <!--<a href="/" class="navbar-brand">GoDeep</a>-->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {{#if user}}
                    <li>
                        <a href="/auth/logout">Log Out</a>
                    </li>
                {{else}}
                    <!--li>
                        <a href="/">Home</a>
                    </li-->
                    <!--<li>
                        <a href="/signup">Sign Up</a>
                    </li>-->
                {{/if}}
            </ul>
        </div>
    </div>
</nav>