nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') GoDeep
    #navbar.navbar-collapse.collapse
      if user
        //- User *is* logged In
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/auth/logout') Log Out
      else
        //- User is *not* Logged In
        ul.nav.navbar-nav.navbar-right
          li(class=url=='/'?'active':undefined)
            a(href='/') Home
          li(class=url=='/signup'?'active':undefined)
            a(href='/signup') Sign Up
