<div style="margin: 15px 5px 15px 5px;">
    <div style="background-color: #252525;padding-left: 10px; padding-top: 5px;">
        <a href="{{url}}"><img alt="GoDeep Mobile" src="https://s3.amazonaws.com/godeeppublic/img/GD_logo_small.png">
        </a>
    </div>
    <div style="margin: 25px;">
        <h4>{{name}} from the {{team}} asked a question:</h4>
        <br>
        <div>
            <p>{{question}}</p>
            <br>
            <p>You can send the response to: <a href="mailto:{{email}}">{{email}}</a></p>
        </div>
    </div>
    <hr>
    <div style="text-align: center;">
        <p>Copyright ©&nbsp;<script>var d = new Date(); document.write(d.getFullYear());</script>&nbsp;GoDeep LLC., All Rights Reserved.&nbsp;</p>
    </div>
<div>