<div style="margin: 15px 5px 15px 5px;">
    <div style="background-color: #252525;padding-left: 10px; padding-top: 5px;">
        <a href="{{url}}"><img alt="GoDeep Mobile" src="https://s3.amazonaws.com/godeeppublic/img/GD_logo_small.png">
        </a>
    </div>
    <div style="margin: 25px;">
        <h4>Hello, {{firstName}}</h4>
        <br>
        <div>
            <p>You recently requested that we restore your password.</p>
            <p>We generated a new temporary password that you can use to log in to the application:</p>
            <p>Username: <b>{{username}}</b></p>
            <p>Password: <b>{{password}}</b></p>
            <p>After you log into the <a href="{{url}}">application</a> you will be asked to enter a new permanent password.</p>
            <br>
            <p>Thank you for using GoDeep!</p>
            <p>GoDeep Support</p>
        </div>
    </div>
    <hr>
    <div style="text-align: center;">
        <p>Copyright ©&nbsp;<script>var d = new Date(); document.write(d.getFullYear());</script>&nbsp;GoDeep LLC., All Rights Reserved.&nbsp;</p>
    </div>
<div>