<div style="margin: 15px 5px 15px 5px;">
    <div style="background-color: #252525;padding-left: 10px; padding-top: 5px;">
        <a href="{{url}}"><img alt="GoDeep Mobile" src="https://s3.amazonaws.com/godeeppublic/img/GD_logo_small.png">
        </a>
    </div>
    <div style="margin: 25px;">
        <h4>Hello, {{firstName}}</h4>
        <br>
        <div>
            <p>A new account was created for you to use the GoDeep application.</p>
            <p>Credentials to log into the application are below:</p>
            <p>Username: <b>{{username}}</b></p>
            <p>Temporary password: <b>{{password}}</b></p>
            <p>After you log into the application you will be asked to enter a new permanent password.</p>
            <p>You can log in using your <a href="{{mUrl}}">smartphone</a> or a <a href="{{url}}">tablet or laptop</a>.</p>
            <br>
            <p>Thank you for using GoDeep!</p>
            <p>GoDeep Support</p>
        </div>
    </div>
    <hr>
    <div style="text-align: center;">
        <p>Copyright ©&nbsp;<script>var d = new Date(); document.write(d.getFullYear());</script>&nbsp;GoDeep LLC., All Rights Reserved.&nbsp;</p>
    </div>
<div>