<div style="margin: 15px 5px 15px 5px;">
    <div style="background-color: #252525;padding-left: 10px; padding-top: 5px;">
        <a href="{{url}}"><img alt="GoDeep Mobile" src="https://s3.amazonaws.com/godeeppublic/img/GD_logo_small.png">
        </a>
    </div>
    <div style="margin: 25px;">
        <h4>Hello, {{firstName}}</h4>
        <br>
        <div>
            <p>Your coach has prepared a new performance report for you. To view it, log into the <a href="{{url}}">GoDeep application</a> using any device except a phone.</p>
            <p>The new report will be at the top of the list on your home page.</p>
            <br>
            <p>Thanks for using GoDeep!</p>
            <p>GoDeep Support</p>
        </div>
    </div>
    <hr>
    <div style="text-align: center;">
        <p>Copyright ©&nbsp;<script>var d = new Date(); document.write(d.getFullYear());</script>&nbsp;GoDeep LLC., All Rights Reserved.&nbsp;</p>
    </div>
<div>