body {
    padding-top: 40px;
    font-family: Arial, sans-serif;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    color: #00275D;
}

h4 {
    font-size: 20px;
    font-weight: bold;
    color: #00275D;
}


input, select {
    border-radius: 0px !important;
}
input:-webkit-autofill, input:-webkit-autofill:focus {
    -webkit-box-shadow:0 0 0 50px white inset !important;
    -webkit-text-fill-color: #333 !important;
}

.error {
    color:red;
}

.content {
      margin-top: 25px;
}

/* navbar style*/
.navbar {
    min-height: 40px;
    max-height: 40px;
    margin-bottom: 0;
    border: none;
    font-size: 15px;
}

.navbar .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-dark {
    color:#fff;
    background-color: #252525;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
    margin-top: 0px;
    padding: 0px;
    height: 40px;
}

.navbar-nav>li>a {
    padding-top: 10px;
    height: 40px;
}

.navbar-toggle {
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 40px;
    background-color: #808080;
    border: 0px solid transparent;
    border-radius: 0px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #252525;
}

.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    border-top: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    background-color: #252525;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #fff;
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #369bfc;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #252525;
}

/*login style*/
.container.index {
    /*background: -webkit-linear-gradient(#142b49, #8dbfdc);*/ /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(#142b49, #8dbfdc);*/ /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(#142b49, #8dbfdc);*/ /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(#142b49, #8dbfdc);*/ /* Standard syntax */
    font-size: 16px;
    height:100%;
    width:100%;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    padding:30px;
    margin:0;
    display: -webkit-flex;
    display: flex;
    background: url("/assets/img/login_background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container.index .full-page {
    height: 100%;
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
}

.container.index .row-index input {
    padding: 5px 10px;
    margin-top: 0;
    margin-bottom: 25px;
}

.container.index .centered {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-content: center;
    align-content: center;
}
.container.index .bottom-content {
    margin-top: 70px;
    color: #fff;
}
.container.index .bottom-content a {
    color: #fff;
    text-decoration: underline;
}
.container.index .bottom-content a:hover {
    color: #f1c82c;
}
.container.index .bottom-content .copyright {
    margin-top: 20px;
    color: #fff;
}
.container.index .bottom-content .optimized {
    margin-top: 20px;
    color: #fff;
}

.container.index .local-st-warn {
    color: #fff;
    line-height: 40px;
}

.container.index .local-st-warn a {
    text-decoration: underline;
    font-weight: bolder;
}

.container.index .local-st-warn .btn-container {
    width: 300px;
    margin: 50px auto;
}

/*button style*/
.gd-btn {
    background-color: #4a4a4a;
    border-color: #808080;
    border-color: #4a4a4a;
    background-color: #808080;
    color: #ffffff;
    border-radius: 0px;
    border-width: 2px;
}
.gd-btn:hover, .gd-btn:focus, .gd-btn.active {
    background-color: #4a4a4a;
    border-color: #4a4a4a;
    color: #ffffff;
    text-decoration: none;
}

.gd-btn-xl {
    padding: 0px 32px;
    font-size: 18px;
    line-height: 74px;
    font-weight: 200;
}

.btn-container {
    margin-bottom: 5px;
}