<div class="container content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>Enter New Password</h3>
            <p>Please enter your new password, then re-enter it to confirm.</p>
            <p>Click "Save New Password" below to save this as your permanent password.</p>
            <form role="form" action="/change-password" method="post">
                <div class="form-group">
                    <label for="password">New Password</label>
                    <input type="password" name="password" placeholder="New Password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" name="confirmPassword" placeholder="Confirm New Password" class="form-control">
                </div>
                <button type="submit" class="btn gd-btn btn-default">Save New Password</button>
            </form>
        <br>
        {{#if messages.error}}
            <p>
                <span class="error">{{messages.error}}</span>
            </p>
        {{/if}}
        </div>
    </div>
</div>