<div class="container content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>Forgot Password</h3>
            {{#if messages.successEmail}}
            <p>An email has been sent to <strong>{{messages.successEmail}}</strong> with your temporary password.</p>
            {{#if messages.returnUrl}}
            <a href="{{messages.returnUrl}}">Return to login</a>
            {{/if}}
            {{else}}
            <p>Please enter your email address and click on &#34;Reset Password&#34; below.</p>
            <p>We will send you send you a temporary password to the email address on file for your account.</p>
            <p>When you log in with that password, you will be able to reset it to your permanent password.</p>
            <form role="form" action="/forgot-password" method="post">
                <div class="form-group">
                    <label for="email">Your Email address</label>
                    <input type="email" name="email" placeholder="Enter your email address" class="form-control">
                    <input type="hidden" name="returnToMobile" value="{{messages.return}}">
                </div>
                <button type="button" class="btn gd-btn btn-cancel" onclick="location.href='/';">Cancel</button>
                <button type="submit" class="btn gd-btn btn-default">Reset Password</button>
            </form>
            {{/if}}
        <br>
        {{#if messages.error}}
            <p>
                <span class="error">{{messages.error}}</span>
            </p>
        {{/if}}
        </div>
    </div>
</div>