extends ../layouts/layout

block content
  .row
    .col-md-6.col-md-offset-3
      form(role='form', action='/', method='post')
        .form-group
          label(for='username') Your username
          input#username.form-control(type='text', name='username', placeholder='Enter username')
        .form-group
          label(for='password') Password
          input#password.form-control(type='password', name='password', placeholder='Password')
        button.btn.btn-default(type='submit') Submit
  .row
    .col-md-6.col-md-offset-3
      if (messages.error)
        p
          span(style="color:red")= messages.error
      if (messages.info)
        each message in messages.info
          p
            span= message
