<div class="container index">
    <div class="row row-index full-page">
        <div class="col-xs-12 col-sm-12 centered">
            <div class="col-xs-12 col-sm-12 local-st-warn hidden">
                {{{noLocalStorageWarning}}}
                <div class="btn-container">
                    <button type="button" class="btn gd-btn gd-btn-xl btn-block" onclick="location.reload()">return to log in page</button>
                </div>
            </div>
            {{#if isUnsupportedDevice}}
            <div class="col-xs-12 col-sm-12 local-st-warn">
                GoDeep has detected that you are using a smartphone or other unsupported device. Please log in from a tablet or a computer. <br/>
                Future versions of GoDeep will include functionality for this device.
            </div>
            {{else}}
            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 login-form">
                {{#if messages.error}}
                    <div class="row alert alert-danger">
                        <strong>{{messages.error}}</strong>
                    </div>
                {{/if}}
                <form role="form" action="/" method="post">
                    <div class="form-group row">
                        <input id="username" type="text" name="username" placeholder="Email address" class="form-control input-lg">
                    </div>
                    <div class="form-group row">
                        <input id="password" type="password" name="password" placeholder="Password" class="form-control input-lg">
                    </div>
                    <div class="form-group row">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 btn-container">
                                <button type="submit" class="btn gd-btn gd-btn-xl btn-block">sign in</button>
                            </div>
                            <div class="col-sm-6 col-md-6 btn-container">
                                <button type="button" class="btn gd-btn gd-btn-xl btn-block" onclick="location.href='/forgot-password';" />forgot password</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row row-index bottom-content">
                    <div>
                        <span>By logging into GoDeep, you agree to the <a target="_blank" href="https://s3.amazonaws.com/godeeppublic/termsandconditions/GoDeepTermsConditions.pdf">GoDeep Terms &#38; Conditions</a></span>
                    </div>
                    <div class="optimized">
                        <span>Users on a free trial will <strong>not</strong> assume any financial obligation by logging in.</span>
                    </div>
                    <div class="optimized">
                        <span>Optimized for tablet use on Google Chrome and Apple Safari</span>
                    </div>
                    <div class="copyright">
                        <span>Copyright ©&nbsp;<script>var d = new Date(); document.write(d.getFullYear());</script>&nbsp;GoDeep LLC., All Rights Reserved.&nbsp;</span>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div>