<div class="container">
    <h2>Third Party Profile(s)</h2>
    <p class="small">
        {{#if user.profiles.length}}
            {{#each user.profiles}}
                <h4>{{this.provider}}:</h4>
                <p class="small">{{val}}</p>
            {{/each}}
        {{else}}
            <span>NONE</span>
        {{/if}}
    </p>
    <h2>Linked Account(s)</h2>
    <ul class="list-inline list-unstyled">
        <li>
            <a href="/link/facebook" class="btn btn-primary">
                Link Facebook
            </a>
        </li>
        <li>
            <a href="/link/google" class="btn btn-primary">
                Link Google
            </a>
        </li>
    </ul>
    <p class="small">
        {{#if user.accounts.length}}
            {{#each user.accounts}}
                <h4>{{this.provider}}:</h4>
                <p class="small">{{val}}</p>
            {{/each}}
        {{else}}
            <span>NONE</span>
        {{/if}}
    </p>
</div>