extends ../layouts/layout

block content
  .row
    .col-md-6.col-md-offset-3
      if user && user.username
        h1 User Logged in!
        h3 Hello #{user.username}
        ul
          li
            a(href='/') Home
          li
            a(href='/auth/logout') Log Out

      form(role='form', action='/new-organization', method='post')
        .form-group
          label(for='name') Organization Name
          input.form-control(type='text', name='name', placeholder='Enter the organization name')
        .form-group
          label(for='shortName') Short Name
          input.form-control(type='text', name='shortName', placeholder='Enter the organization short name')
        .form-group
          label(for='espnName') ESPN Name
          input.form-control(type='text', name='espnName', placeholder='Enter the organization ESPN name')
        .form-group
          label(for='mascot') Mascot
          input.form-control(type='text', name='mascot', placeholder='Enter the organization mascot')
        .form-group
          label(for='conference') Conference
          select.form-control(name='conference', placeholder='Select a conference')
            each val in conferences
              option(value=val.id)= val.name
        .form-group
          label.radio-inline
            input(type="radio", name="organizationType", value='2')
            | College
          label.radio-inline
            input(type="radio", name="organizationType", value='3')
            | Professional
        button.btn.btn-default(type='submit') Submit
      br
      if (messages.error)
        p
          span(style="color:red")= messages.error
      if (messages.info)
        p
          span= messages.info
