<div class="container content organization">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
        <h3>New Organization</h3>
            <form role="form" action="/new-organization" method="post">
                <input type="hidden" name="organizationId">
                <div id="scrollable-dropdown-menu">
                    <label for="name">Organization Name</label>
                    <input class="typeahead" name="name" type="text" placeholder="Enter the organization name">
                </div>
                <!--<div class="form-group">
                    <label for="name">Organization Name</label>
                    <input type="text" name="name" placeholder="Enter the organization name" class="form-control">
                </div>-->
                <div class="form-group">
                    <label for="shortName">Short Name</label>
                    <input type="text" name="shortName" placeholder="Enter the organization short name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="espnName">ESPN Name</label>
                    <input type="text" name="espnName" placeholder="Enter the organization ESPN name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="mascot">Mascot</label>
                    <input type="text" name="mascot" placeholder="Enter the organization mascot" class="form-control">
                </div>
                <div class="form-group">
                    <label for="conference">Conference</label>
                    <select name="conference" placeholder="Select a conference" class="form-control">
                        {{#each conferences}}
                            <option value={{this.id}}>{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label class="radio-inline">
                        <input type="radio" name="organizationType" value="1">
                        High School Sports
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="organizationType" value="2">
                        College
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="organizationType" value="3">
                        Professional
                    </label>
                </div>
                <button type="submit" class="btn gd-btn btn-default">Submit</button>
            </form>
        <br>
        {{#if messages.error}}
            <p>
                <span class="error">{{messages.error}}</span>
            </p>
        {{/if}}
        {{#if messages.info}}
            <p>
                <span>{{messages.info}}</span>
            </p>
        {{/if}}
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
  var organizationsUrl = "api/Organizations?limit=1000&order=name ASC";
  var organizationLits = [];
  $.ajax({url: organizationsUrl,
    success: function(result) {
      organizationLits = result.Organizations;

      // bloodhound
      // ----------
      // constructs the suggestion engine
      var organizations = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
        /*datumTokenizer: function (d) {
          return Bloodhound.tokenizers.whitespace(d.name);
        },*/
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        local: organizationLits
      });

      $('#scrollable-dropdown-menu .typeahead').typeahead({
        hint: true,
        highlight: true,
        minLength: 1
      },
      {
        name   : 'organizations',
        source : organizations,
        display: 'name',
        limit  : 20
      });
    }

  });
  $('.typeahead').on('typeahead:selected', function (event, data) {
    setupData(data);
    //enableInputs(true);

  });
  /*$( "input[name='name']" ).on('input', function() {
    enableInputs(false);
    setupData({
      id        :'',
      shortName :'',
      espnName  : '',
      mascot    : '',
      conference: {
        id: -1
      },
      organizationType: {
        id: -1
      }
    });
  });*/
  var enableInputs = function (enabled) {
    $("input[name='shortName']").attr('disabled', enabled);
    $("input[name='espnName']").attr('disabled', enabled);
    $("input[name='mascot']").attr('disabled', enabled);
    $("select[name='conference']").attr('disabled', enabled);
    $("input[name='organizationType']").attr('disabled', enabled);
  };
  var setupData = function (data) {
    $("input[name='organizationId']").val(data.id);
    $("input[name='shortName']").val(data.shortName);
    $("input[name='espnName']").val(data.espnName);
    $("input[name='mascot']").val(data.mascot);
    $("select[name='conference']").val(data.conference.id);
    if (data.organizationType.id >= 0) {
      $("input[name='organizationType'][value="+data.organizationType.id+"]").attr('checked', true);
      $("input[name='organizationType'][value="+data.organizationType.id+"]").trigger( 'click' );
    } else {
      $("input[name='organizationType']").attr('checked', false);
    }
  }
});
</script>