extends ../layouts/layout

block content
  .row
    if user && user.username
      h1 Hello Player #{user.username}
    else
      h1 Player Page
    .col-md-6
      h2 Player Actions
      ul
        li
          Add a player action here
        li
          Add a player action here
  .row
    if (messages.error)
      p
        span(style="color:red")= messages.error
    if (messages.info)
      each message in messages.info
        p
          span= message
