<div class="container">
    <div class="row">
        {{#if user}}
            {{#if user.username}}
                <h1>Hello Player {{user.username}}</h1>
            {{/if}}
        {{else}}
            <h1>Player Page</h1>
        {{/if}}
        <div class="col-md-6">
            <h2>Player Actions</h2>
            <ul>
                <li>
                    Add player action here
                </li>
                <li>
                    Add player action here
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        {{#if messages.error}}
            <p>
                <span class="error">{{messages.error}}</span>
            </p>
        {{/if}}
        {{#if messages.info}}
            {{#each messages.info}}
                <p>
                    <span>{{this}}</span>
                </p>
            {{/each}}
        {{/if}}
    </div>
</div>
<style>
    .error {
        color:red;
    }
</style>