<div class="container content">
    <div class="row">
        <h3>Impersonate a User</h3>
        <div class="col-md-6">
            <h4>First, Pick A Team</h4>
            {{#if teams}}
                {{#if teams.length}}
                    <ul class="team">
                        {{#each teams}}
                            <li class="team">
                                <a href="/selectteam?team={{this.id}}" class="team">
                                    {{this.name}}
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                {{/if}}
            {{else}}
                <span>NO TEAMS</span>
            {{/if}}
        </div>
        <div class="col-md-6">
            <h4>Then, Pick The User</h4>
            {{#if users}}
                {{#if users.length}}
                    <ul>
                        {{#each users}}
                            <li>
                                {{#if this.role}}
                                    <a href="/selectteam?user={{this.id}}">
                                        {{this.first_name}} {{this.last_name}}, {{this.role}}
                                    </a>
                                {{else}}
                                    <a href="/selectteam?user={{this.id}}">
                                        {{this.first_name}} {{this.last_name}}
                                    </a>
                                {{/if}}
                            </li>
                        {{/each}}
                    </ul>
                {{/if}}
            {{else}}
                <span>NONE</span>
            {{/if}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{#if messages}}
                {{#if messages.error}}
                    <p><span class="error">{{messages.error}}</span></p>
                {{/if}}
            {{/if}}
        </div>
    </div>
</div>