extends ../layouts/layout

block content
  .row
    h1 Impersonate a User
    .col-md-6
      h2 First, Pick A Team
      if teams && teams.length !== 0
        ul
          each team in teams
            li.team
              a(href='/selectteam?team='+team.id).team= team.name
      else
        | NO TEAMS
    .col-md-6
      h2 Then, Pick The User
      if users && users.length !== 0
        ul
          each teamUser in users
            li.user
              if teamUser.role
                a(href='/selectteam?user='+teamUser.id).user= teamUser.first_name + ' ' + teamUser.last_name + ', ' + teamUser.role
              else
                a(href='/selectteam?user='+teamUser.id).user= teamUser.first_name + ' ' + teamUser.last_name
      else
        | NONE
  .row
    .col-md-6
      if (messages && messages.error)
        p
          span(style="color:red")= messages.error
