<div class="container content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
        <h3>Sign Up</h3>
            {{#if user}}
                {{#if user.username}}
                    <h1> User Logged in!</h1>
                    <h3> Hello {{user.username}}</h3>
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/auth/logout">Log Out</a>
                        </li>
                    </ul>
                {{/if}}
            {{/if}}
            <form role="form" action="/signup" method="post">
                <div class="form-group">
                    <label for="username">User Name</label>
                    <input type="text" name="username" placeholder="Enter your user name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" name="firstName" placeholder="Enter your first name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" placeholder="Enter your last name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Your Email address</label>
                    <input type="email" name="email" placeholder="Enter your email address" class="form-control" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="password">Your Password</label>
                    <input type="password" name="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn gd-btn btn-default">Submit</button>
            </form>
        <br>
        {{#if messages.error}}
            <p>
                <span class="error">{{messages.error}}</span>
            </p>
        {{/if}}
        </div>
    </div>
</div>