extends ../layouts/layout

block content
  .row
    .col-md-6.col-md-offset-3
      if user && user.username
        h1 User Logged in!
        h3 Hello #{user.username}
        ul
          li
            a(href='/') Home
          li
            a(href='/auth/logout') Log Out

      //- form#newuser(role='form', action='/api/users', method='post')
      form(role='form', action='/signup', method='post')
        .form-group
          label(for='username') User Name
          input.form-control(type='text', name='username', placeholder='Enter your user name')
        .form-group
          label(for='firstName') First Name
          input.form-control(type='text', name='firstName', placeholder='Enter your first name')
        .form-group
          label(for='lastName') Last Name
          input.form-control(type='text', name='lastName', placeholder='Enter your last name')
        .form-group
          label(for='email') Your Email address
          input.form-control(type='email', name='email', placeholder='Enter your email address')
        .form-group
          label(for='password') Your Password
          input.form-control(type='password', name='password', placeholder='Password')
        button.btn.btn-default(type='submit') Submit
      br
      if (messages.error)
        p
          span(style="color:red")= messages.error
