<div class="container content">
    <div class="row">
        {{#if user}}
            {{#if user.username}}
                <h3>Hello SuperUser {{user.username}}</h3>
            {{else}}
                <h3>SuperUser</h3>
            {{/if}}
            <div class="col-md-6">
                <h4>Superuser Actions</h4>
                <ul>
                    <li>
                        <a href="/selectteam">Impersonate a User</a>
                    </li>
                    <li>
                        <a href="/new-organization">Onboard a new Organization</a>
                    </li>
                </ul>
            </div>
        {{/if}}
    </div>
    <div class="row">
        {{#if messages.error}}
            <p>
                <span class="error">{{messages.error}}</span>
            </p>
        {{/if}}
        {{#if messages.info}}
            {{#each messages.info}}
                <p>
                    <span>{{this}}</span>
                </p>
            {{/each}}
        {{/if}}
    </div>
</div>