extends ../layouts/layout

block content
  .row
    if user && user.username
      h1 Hello SuperUser #{user.username}
    else
      h1 SuperUser
    .col-md-6
      h2 Superuser Actions
      ul
        li
          a(href='/selectteam') Impersonate a User
        li
          a(href='/new-organization') Onboard a new Organization
  .row
    if (messages.error)
      p
        span(style="color:red")= messages.error
    if (messages.info)
      each message in messages.info
        p
          span= message
